
/** loading screen */
.x-mask.splashscreen {
  background-color: white;
  opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 5px 5px 5px;
  border: none;
  background: {
    color: transparent;
    position: top center;  
  };
}

.x-message-box .x-window-body .x-box-inner {
  min-height: 110px !important;
}

.x-splash-icon {
  background-image: url('cms-logo.png') !important;
  background-size: contain;
//  background-position: center; 
  position: relative; 
  left: 14%; 
//  top: 50%; 
  margin-top: -80px;
//  margin-right: auto;     
  height: 120px;
  width: 120px;
}