/** loading screen */
.x-mask.splashscreen {
  background-color: white;
  opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 5px 5px 5px;
  border: none;
  background: {
    color: transparent;
    position: top center;  
  };
}

.x-message-box .x-window-body .x-box-inner {
  min-height: 110px !important;
}

.x-splash-icon {
  background-image: url('cms-logo.png') !important;
  background-size: contain;
//  background-position: center; 
  position: relative; 
  left: 14%; 
//  top: 50%; 
  margin-top: -80px;
//  margin-right: auto;     
  height: 120px;
  width: 120px;
}

//.prescale-zero .x-change-cell {
//    background-color: #FFB0C4 !important;
//    color:red !important;
//}
//
//.prescale-one .x-change-cell {
//    background-color: #B0FFC5 !important;
//    color:green !important;
//}
//
//.prescale-gtone .x-change-cell {
//    background-color: #FFFF99 !important;
//    color:orange !important;
//}


.label-center-align-class {
    text-align: center
}

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(itemselector/images/top2.gif);
}
.x-form-itemselector-up {
    background-image: url(itemselector/images/up2.gif);
}
.x-form-itemselector-add {
    background-image: url(itemselector/images/right2.gif);
}
.x-form-itemselector-remove {
    background-image: url(itemselector/images/left2.gif);
}
.x-form-itemselector-down {
    background-image: url(itemselector/images/down2.gif);
}
.x-form-itemselector-bottom {
    background-image: url(itemselector/images/bottom2.gif);
}